footer{
<<<<<<< HEAD

  background: #329bcf;
  color:white;
  text-align: center;
  padding:5px 0;
  clear:both;

}
=======
  background: #329bcf;
  color:white;
  text-align: center;
  padding:5px 0;
  clear:both;
}
>>>>>>> refs/remotes/origin/#23
