@charset "utf-8";
/* CSS Document */

body {
	background: #f6f6f6;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}



/*　job_seeker　*/
#job_seeker {
	margin-top: 0;
	margin-bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

#job_seeker table th {
}
#job_seeker table td {
	text-align: left;	
}