header {
  position:relative;
}
.upper {
  background: #004d91;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top:0;
}
.upper .logo {
  margin: 0 20px;
}
.upper .mainnavi {
  display: flex;
  font-size: 1.3rem;
}
.upper .mainnavi li {
  color: white;
  height: 80px;
}
.upper .mainnavi li:hover:not(:first-child) {
  transition: all 0.2s ease;
  background: #329bcf;
}
.upper .mainnavi li a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 15px;
  height: 80px;
  text-decoration: none;
}
.upper.mainnavi li a:hover, .user__name a:hover {
  text-decoration: none;
}
.upper .mainnavi li:first-child {
  background: #329bcf;
}
.upper .mainnavi li i {
  margin-right:10px;
}
.upper .user {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.upper .user .user__wrapper:hover{
  background: #216fb5;
}
.upper .user .user__notice {
  font-size: 1.5rem;
  margin-right:20px;
}
.upper .user .user__notice a{
  color: white;
}
.upper .user .user__wrapper .user__name{
  width: 200px;
  position:relative;
}
.upper .user .user__wrapper .user__name > a{
  color: white;
  height: 80px;
  display: flex;
  align-items: center;
  margin-left:20px;
}
.upper .user .user__wrapper .user__name i{
  font-size:1.3rem;
  position:absolute;
  right: 20px;
}
.upper .user .user__wrapper .user__name .drop-menu{
  position:absolute;
  width: 100%;
  transition: all .2s ease;
  opacity:0;
  visibility: hidden;
}
.upper .user .user__wrapper:hover .user__name .drop-menu{
  opacity:1;
  visibility: visible;
}
.upper .user .user__wrapper .user__name .drop-menu li{
  background: white;
  position:relative;
}
.upper .user .user__wrapper .user__name .drop-menu li:hover{
  background: #f6f6f6;
}
.upper .user .user__wrapper .user__name .drop-menu li a{
  padding:15px 0 15px 20px;
  color: #004d91;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
}
.upper .user .user__wrapper .user__name .drop-menu li a:hover{
  color: #329bcf;
}
.upper .user .user__wrapper .user__name .drop-menu li i{
  position:absolute;
  right: 20px;
}
.lower .subnavi{
  display: flex;
  margin:0 30px;
}
.lower .subnavi li{
  padding:20px 30px;
  font-size:1.1rem;
}
.lower .subnavi li a{
  text-decoration: none;
  color: #004d91;
  padding:20px;
}
.lower .subnavi li a:hover{
  /* animation: subnavicolor 0.5s; */
}
main{
}
/* @keyframes navicolor{
  0% { background: #004d91; }
  100% { background: #329bcf; }
} */
/* @keyframes subnavicolor{
  0% { border-bottm:0; }
  100% { border-bottom:5px solid #f03c97; }
} */
