@charset "utf-8";
/* CSS Document */

body {
	background: #ffffff;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}


/*　ここよりjob_search　*/

/*　job_search　widthサイズ仮定　*/
#job_search {
	width:90%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

/* セレクト項目見出し */
h3 {
	background-color: #06C;
	width: 270px;
	line-height: normal;
	color: #FFF;
	text-align: center;
	margin: 0px;
	font-size: 14px;
	vertical-align: middle;
	padding:5px;
	letter-spacing: 1em;
}
/* セレクト項目見出し（大） */
h3.word {
	width:400px;
	letter-spacing: 0.6em;
}
/*セレクト項目*/
select {
	width: 280px;
	height:60px:
}
/*セレクト項目（小）*/
input.second {
	width: 130px;
}

/*　ｈ3とセレクト項目の囲み範囲*/
.listbox1 {
	float: left;
	height:60px;
	margin: 5px;
	padding: 5px;
}
.listbox2 {
	margin: 5px;
	padding: 5px;
	clear: left;
	float: left;
}
.listbox3 {
	float: right;
	margin: 5px;
	padding: 5px;
}
textarea.word {
	width:400px;
}
/*　送信ボタン　*/
#job_search input.submit_button {
	font-size: 1.2em;
	border-style: none;
	background-color: #06C;
	color: #fff;
	height: 60px;
	padding-right: 40px;
	padding-left: 40px;
	letter-spacing: 1em;
	font-weight: bold;
}
/*　リセットボタン　*/
input.reset_button {
	border-style: none;
	background-color: #06C;
	color: #fff;
	height: 60px;
	padding-right: 20px;
	padding-left: 20px;
}




/*　ここよりjob_search_list　*/


/*　job_search_list　widthサイズ仮定　*/
#job_search_list {
	width:90%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

/*　テーブルサイズ仮定　*/
table {
	width:100%;
}
#job_search_list table td {
	padding: 5px;
	text-align:center;
}

/*　テーブル見出しの背景　*/
table th {
	background-color: #06C;
	color: #FFF;
	padding: 5px;
	text-align:center;
	letter-spacing: 0.8em;
}
/*　テーブルタグの背景色を交互に変更する　*/
table tr:nth-child(2n) {
 background-color: #fff;
}
table tr:nth-child(2n+1) {
 background-color: #ddd;
}


/*　kyujinyoko　widthサイズ仮定　*/
#kyujinyoko {
	width:90%;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}

/*　テーブルサイズ仮定　*/
table {
	width:100%;
}
table td {
	padding: 5px;
	text-align:center;
}
/*　テーブル見出しの背景　*/
table th {
	background-color: #06C;
	color: #FFF;
	padding: 5px;
	text-align:center;
	letter-spacing: 0.6em;
}

/*　テーブルタグの背景色を交互に変更する　*/
table tr:nth-child(2n) {
 background-color: #fff;
}
table tr:nth-child(2n+1) {
 background-color: #ddd;
}